<ActionBar title="Details">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>

<ScrollView orientation="vertical">
    <StackLayout orientation="vertical" class="page-details">
        <Label class="title" text="{{ training?.title }}"></Label>
        <Label class="description" text="{{ training?.description }}"></Label>
        <Image src="{{ training?.image }}" class="cover"></Image>
        <WebView src="{{ training?.videoUrl }}" class="frame"></WebView>

    </StackLayout>
</ScrollView>