Image {
    width: 50;
    height: 50;
    border-radius: 5px;
}

  
.odd { 
    vertical-align: center;
    padding-left: 15;
}

.even {
    color: #0099CC;
    vertical-align: center;
    padding-left: 15;
}